apiVersion: v1
kind: Service
metadata:
  name: hello-data-service
  labels:
    app: hello-data
spec:
  type: LoadBalancer
  ports:
    - port: 5000
      targetPort: {{ .Values.hello_data.port }}
      protocol: TCP
  selector:
    app: hello-data